/* LOAD FILE */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
    --red-color: #ed1f24;
    --white-color: #ffffff;
    --black-color: #000000;
    --select-color: #d9d9d9;
    --gray: rgba(0, 0, 0, 0.7);
    --gray-secondary: #858585;
    --gray-profile: rgba(217, 217, 217, 0.4);
}

/* GENERAL STYLE */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--red-color);
}

.font-regular {
    font-weight: 400;
}

.font-semi-bold {
    font-weight: 500;
}

.font-bold {
    font-weight: 600;
}

.font-bold-xl {
    font-weight: 700;
}

.font-bold-xxl {
    font-size: 20px;
    font-weight: 700;
}

.font-extra-sm {
    font-size: 12px;
    line-height: 15px;
}

.font-sm {
    font-size: 14px;
    line-height: 17px;
    color: var(--black-color);
}

.font-md {
    font-size: 16px;
    line-height: 19px;
}

.font-lg {
    font-size: 20px;
    line-height: 24px;
}

.font-lg-xl {
    font-size: 32px;
    line-height: 39px;
}

.title-section-primary {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--red-color);
}

.title-section-primary1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--black-color);
}

.title-section-secondary {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: var(--black-color);
}

.text-justify {
    text-align: justify;
}

.btn:hover {
    color: var(--red-color);
    border-color: var(--red-color);
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* CLASS COLOR */

.font-black {
    text-decoration: none;
    color: var(--black-color);
}

.font-white {
    color: var(--white-color);
}

.color-red {
    color: var(--red-color);
}

.color-gray {
    color: var(--gray);
}

.color-gray-secondary {
    color: var(--gray-secondary);
}

/* END OF CLASS COLOR */

/* SELECT BOX */
.form-select-lg {
    width: 300px;
    height: 82px;
    background-color: var(--select-color);
}

.form-jkt {
    width: 235px;
    height: 82px;
    background-color: var(--select-color);
}

.form-passanggers {
    width: 144px;
    height: 82px;
    background-color: var(--select-color);
}

.form-seatclass {
    width: 207px;
    height: 82px;
    background-color: var(--select-color);
}

.btn-red1 {
    width: 166px;
    height: 71px;

    background: var(--red-color);
    border-radius: 35px;
}

.btn-redsearch {
    width: 166px;
    height: 71px;

    background: var(--red-color);
    border-radius: 35px;
}

.font-but {
    font-size: 15px;
    line-height: 19px;
}

.title-available {
    font-weight: 43px;
    font-size: 17px;
    line-height: 29px;
    color: var(--red-color);
}

.btn-select {
    width: 166px;
    height: 71px;

    /* background: var(--red-color); */
    border-radius: 35px;
}

/* .select-option {
    width: 335px;
    height: 82px;
} */

/* SELECT DATE */
input[type="date"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control,
input[type="time"].form-control {
    width: 238px;
    height: 82px;
    background-color: var(--select-color);
}

/* END OF GENERAL STYLE */

/* NAVBAR STYLE COMPONENTS */

.nav-link:focus,
.nav-link:hover {
    color: rgb(255 0 0 / 70%);
}

.active {
    color: var(--red-color) !important;
}

.btn-red {
    width: 118px;
    height: 50px;

    background: var(--red-color);
    border-radius: 50px;
}

.btn-search {
    width: 240px !important;
    height: 71px;
}

/* END OF NAVBAR STYLE */

/* FOOTER STYLE COMPONENTS */

.footer-icons {
    width: 184px;
    height: 57px;
}

.footer-desc-box {
    width: 257px;
    height: 55px;
}

/* END OF FOOTER STYLE */

/* PAGES STYLE */

/* FLIGHTS PAGE */

.jumbotron-box {
    height: 504px;
    width: --webkit-fill-available;
    background-image: url("../assets/jumbotron.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron-font-title {
    font-size: 64px;
    line-height: 77px;
}

.jumbotron-text-box {
    width: 458px;
    height: 163px;
}

.destination-box {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: center;
}

.destination-box {
    margin: 30px 10px;
}

.img {
    position: relative;
    border-radius: 20px;
    background-color: #333333;
    margin: 10px 0;
}

.img-thumbnails {
    width: 223px;
    height: 125px;
    opacity: 0.2;
    object-fit: cover;
    transition: all 0.5s;
}
.img-thumbnails:hover {
    opacity: 1;
}

.destination-font {
    color: var(--white-color);
    position: absolute;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prepare-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}

/* END OF FLIGHTS PAGE */

/* ABOUT PAGE */

.about-logo {
    width: 411px;
    height: 127px;
}

.img-responsive {
    width: -webkit-fill-available;
}

.star-icons {
    width: 14px;
    height: 14px;
}
/* END OF ABOUT PAGE */

/* HELP PAGE */

.btn-md:hover {
    color: var(--white-color) !important;
    background: var(--red-color);
}

/* END OF HELP PAGE */

/* END OF PAGES STYLE */

/* FLIGHTS PAGE */

.flight-icons {
    object-fit: contain;
    width: 25%;
    padding: 10px 30px;
}

.flight-icons-japan {
    object-fit: contain;
    width: 50%;
    padding: 10px 30px;
}

/* END OF FLIGHTS PAGE */

/* PROFILE PAGE */

.trash-btn {
    transition: all 0.5s;
}

.trash-btn:hover {
    transform: scale(1.1);
}

.email-box {
    width: 354px;
    height: 271px;
    border-radius: 5px;
}

.bg-gray-profile {
    background: var(--gray-profile);
}

.accordion-profile.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ed1f24'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-profile:not(.collapsed) {
    background-color: var(--gray-profile) !important;
    color: var(--black-color) !important;
}

.accordion-profile:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ed1f24'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* END OF PROFILE PAGE */
.accordion-setting {
    background-color: var(--gray-profile);
}

form i {
    margin-left: -30px;
    cursor: pointer;
}

.pass-btn {
    padding: 10px 10px;
}

/* END OF PROFILE PAGE */
